.header-container {
    
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    background-color: #4662df;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    box-shadow: 0 0 10px black;
    h1 {
      width: 40px;
      height: 40px;
      margin-left: 10px;
    }
    a {
     
      color: #fff;
      text-decoration: none;
      margin-right: 20px;
      transition: color 0.2s ease;
    }
    a:hover {
      
      color: #ccc;
    }
    a.active {
      
      color: red;
      text-decoration: underline;
    }
  }
  
  .left {

    /* Style the left side of the navbar */
    display: flex;
    align-items: center;
    background-color:transparent;
    justify-content: space-around;
  }
  
  .left a {
    /* Style the links on the left side */
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    transition: color 0.2s ease;
  }
  
  .left a:hover {
    /* Hover effect for the links */
    color: #ccc;
  }
  
  .left a.active {
    /* Active link style */
    color: red;
    text-decoration: underline;
  }
  
  .right {
    /* Style the right side of the navbar */
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
  }
  
  .right button {
    /* Style the login/logout button */
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .right button:hover {
    /* Hover effect for the button */
    background-color: #23527c;
  }
  
  /* Animation for the navbar */
  .header-container {
    animation: slideDown 0.5s ease;
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }