

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #5c14a9 49%, #2575fc 51%);
  color: #ffffff;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: url('\landing.jpeg') no-repeat center center/cover;  */
  background-color: #12121281; /* Fallback color if the background image doesn't load */
}

.hero-inner {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background for better readability */
  border-radius: 8px;
}

.hero-inner h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-inner p {
  font-size: 24px;
  color: #dddddd;
}

@media (max-width: 768px) {
  .hero-inner h1 {
      font-size: 36px;
  }

  .hero-inner p {
      font-size: 18px;
  }
}


  